body {
    margin: 0;
    height: 100vh;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: urdu regular;
    src: url(./fonts/NotoNastaliqUrdu-Regular.ttf);
}
.evencooler {
    display: flex;
    align-items: stretch; /* Ensures both elements take the same height */
    gap: 10px; /* Adds spacing between navbar buttons and koolbox */
}

.leftnav {
    display: flex;
    flex-direction: column;  
}

.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.navbar li {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    background-color: #252d0ca9;
    margin: 7px 0;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.navbar li a {
    width: 100%;
    text-decoration: none;
    display: block;
    color: #e9dac8;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#greetings {
    color: #21210af6;
    font-size: 4em;
}

h1 {
    color: #21210af6;
}

.koolbox {
    width: 900px;
    height: 600px;
    font-size: large;
    backdrop-filter: blur(15px);
    background-color: #978879ab;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
}

#active {
    border: 2px solid #4d4d3b;
}
#active a {
    color: #c4a784 !important; 
}

.watermelon {
    display:block ;
    margin-top:20px; 
    margin-left: 20px;
    z-index: 10; /* Ensure it's on top of other elements */
    width: 80px; /* Set the size of the image */
    height: auto;
        
}

.nc {
    position: fixed; /* Position the image absolutely */
    bottom:0; /* Align it to the top of the page */
    left: 0; /* Align it to the left of the page */
    z-index: 10; /* Ensure it's on top of other elements */
    width: 250px; /* Set the size of the image */
    height: auto; /
}

.webringpeeps li a {
    color: #21210af6;
    text-decoration: none;
    text-align: left;
    font-size: xx-large;
}

.webringpeeps li a:hover {
    color:#c4a784
}

.webringcont {
    text-align: left;
}

#hometext{
    text-align: left;
    padding-left:5%;
}

.nescafe {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: absolute;
    margin-right: 3%; 
    right: 0;
    top: 25%; 
    text-align: center;
}

.nescafe img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 150px; 
    border-radius: 10px; 
}

.nescafe figcaption {
    font-size: 100%; 
    margin-top: 5px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}